<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if pageTitle -%}
  <title>{{ pageTitle }} // {{ site.name }}</title>
  {%- else -%}
  <title>{{ site.name }}</title>
  {%- endif %}

  {% if metaDescription -%}
  <meta name="description" content="{{ metaDescription }}" />
  {%- endif %}

  {% if site.googleFontsHref -%}
  <!-- Google Fonts Async Snippet -->
  <!-- See https://csswizardry.com/2020/05/the-fastest-google-fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style" href="{{ site.googleFontsHref }}" />
  <link rel="stylesheet" href="{{ site.googleFontsHref }}" media="print" onload="this.media='all'" />
  <noscript><link rel="stylesheet" href="{{ site.googleFontsHref }}" /></noscript>
  {%- endif %}

  {% block before_bundler_styles -%} {%- endblock -%}
  {%- if bundlerAssets.main and bundlerAssets.main['main.css'] -%}
  <link rel="stylesheet" href="{{ bundlerAssets.main['main.css'] }}">
  {%- endif -%}
  {%- block after_bundler_styles -%} {%- endblock %}
</head>
<body>
  {%- block before_main %} {%- endblock %}
  <main>
    {%- block inside_main %}
    {{ content | safe | trim }}
    {%- endblock %}
  </main>
  {%- block after_main %} {%- endblock %}

  {% block before_bundler_scripts -%} {%- endblock -%}
  {%- if bundlerAssets.main and bundlerAssets.main['runtime~main.js'] -%}
  <script defer src="{{ bundlerAssets.main['runtime~main.js'] }}"></script>
  {%- endif %}
  {% if bundlerAssets.main and bundlerAssets.main['main.js'] -%}
  <script defer src="{{ bundlerAssets.main['main.js'] }}"></script>
  {%- endif %}
  {%- block after_bundler_scripts -%} {%- endblock %}

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DRBGYXM6M0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DRBGYXM6M0');
  </script>
</body>
</html>
