<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {%- if pageTitle %}
  <title>{{ pageTitle }} | {{ site.name }}</title>
  {%- else %}
  <title>{{ site.name }}</title>
  {%- endif %}
  {%- block inside_head %} {%- endblock %}
</head>
<body>
  {%- block before_main %} {%- endblock %}
  <main>
    {%- block inside_main %}
    {{ content | safe | trim }}
    {%- endblock %}
  </main>
  {%- block after_main %} {%- endblock %}

  {%- block before_scripts %} {%- endblock %}
  {%- if bundlerAssets.main %}
  {%- if bundlerAssets.main['runtime~main.js'] %}
  <script defer src="{{ bundlerAssets.main['runtime~main.js'] }}"></script>
  {%- endif %}
  {%- if bundlerAssets.main['main.js'] %}
  <script defer src="{{ bundlerAssets.main['main.js'] }}"></script>
  {%- endif %}
  {%- endif %}
  {%- block after_scripts %} {%- endblock %}

  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>
</html>
