<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ pageTitle }}</title>

    {%- block head %} {%- endblock %}
  </head>
  <body>
    {%- block before_main %} {%- endblock %}
    <main>
      {%- block inside_main %} {{ content | safe }} {%- endblock %}
    </main>
    {%- block after_main %} {%- endblock %}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
  </body>
</html>
