---
layout: 'layouts/admin.njk'
permalink: '/admin/index.html'
pageTitle: Content Manager
---

{%- if bundlerAssets.admin %}
<script defer src="{{ bundlerAssets.admin['runtime~admin.js'] }}"></script>
<script defer src="{{ bundlerAssets.admin['vendors~admin.js'] }}"></script>
<script defer src="{{ bundlerAssets.admin['admin.js'] }}"></script>
{%- endif %}
