---
layout: 'layouts/admin.njk'
permalink: '/admin/index.html'
pageTitle: Content Manager
---

{%- if bundlerAssets.admin and bundlerAssets.admin['runtime~admin.js'] %}
<script defer src="{{ bundlerAssets.admin['runtime~admin.js'] }}"></script>
{%- endif %}
{%- if bundlerAssets.admin and bundlerAssets.admin['vendors-react~admin.js'] %}
<script defer src="{{ bundlerAssets.admin['vendors-react~admin.js'] }}"></script>
{%- endif %}
{%- if bundlerAssets.admin and bundlerAssets.admin['vendors-netlify~admin.js'] %}
<script defer src="{{ bundlerAssets.admin['vendors-netlify~admin.js'] }}"></script>
{%- endif %}
{%- if bundlerAssets.admin and bundlerAssets.admin['admin.js'] %}
<script defer src="{{ bundlerAssets.admin['admin.js'] }}"></script>
{%- endif %}
