---
layout: 'layouts/admin.njk'
permalink: '/admin/index.html'
pageTitle: Content Manager
---

{%- if assetManifestAdmin %}
<script defer src="{{ assetManifestAdmin['runtime~admin.js'] }}"></script>
<script defer src="{{ assetManifestAdmin['vendors~admin.js'] }}"></script>
<script defer src="{{ assetManifestAdmin['admin.js'] }}"></script>
{%- endif %}
