---
pageTitle: 👋 Qué onda
metaDescription: I’m a software developer, creative technologist, and a firm believer in problem-solving through scalable, systematic and accessible thinking.
---

<div class="[ page-home ] [ flow:lg ]">
  <header class="[ font-heading ]">
    <h1>Emilio<br />Martinez</h1>
    <p class="[ font-scale:300 font-weight:regular ]">Coder, thinker, maker,&nbsp;designer.</p>
  </header>

  <section>
    <div class="[ layout:column-1-4 ]">
      <div class="[ font-heading font-scale:100 ]">Qué onda.</div>
      <div class="[ flow:xs ]">
        <p>
          I’m a Mexican-American <strong>software developer and creative technologist</strong>,
          currently based in the SF Bay Area.
        </p>
        <p>
          My bread and butter is to
          <strong>problem-solve, drive new ideas, and experiment</strong> for products and companies
          through practices rooted in <strong>scalable, systematic and accessible</strong> thinking.
        </p>
      </div>
    </div>
  </section>
</div>
