---
pageTitle: 👋 Qué onda
metaDescription: I’m a software developer, creative technologist, and a firm believer in problem-solving through scalable, systematic and accessible thinking.
---

<div class="[ page-home ] [ flow:lg ]">
  <header class="[ heading:font heading:lh ]">
    <h1>Emilio<br />Martinez</h1>
    <p class="[ font-scale:300 font-weight:regular ]">Coder, thinker, maker,&nbsp;designer.</p>
  </header>

  <section class="[ flow:sm ]">
    <div class="[ layout:column-1-4 ]">
      <div class="[ heading:font ]">
        <small>Qué onda.</small>
      </div>
      <div class="[ flow:xs ]">
        <p>
          I’m a Mexican-American <strong>software developer and creative technologist</strong>,
          based in the SF Bay&nbsp;Area.
        </p>
      </div>
    </div>
    <div class="[ layout:column-1-4 ]">
      <div class="[ heading:font ]">
        <small>What I’m about.</small>
      </div>
      <div class="[ flow:xs ]">
        <p>
          I love <strong>breaking down problems</strong> to their core to build
          <strong>thoughtful, scalable, and accessible</strong> solutions with users at heart.
          What’s more, I believe in learning + building with other disciplines to make what we do
          <strong>smarter, more informed, and&nbsp;resilient</strong>.
        </p>
        <p>
          I contribute across the stack, enjoy digging into build tools, and believe in adopting the
          right tools for the job&mdash;with a healthy use of web standards, of&nbsp;course.
        </p>
      </div>
    </div>
  </section>
</div>
